.env
.env-dev

venv/
.venv/
kafkaconsumer.py
kafkaproducer.py
**/__pycache__
.talismanrc
**/.vscode
**/.github
**/.python-version
**/.DS_Store
frontend/dist

dist/
plugins/
media/
docs/_site/
docs/_build/
docs/_static/
docs/_templates/
docs/_sources/
docs/_images/
docs/_downloads/
docs/Gemfile.lock