body {
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-page {
  display:flex;
  flex-direction: column;
  text-align: center;
  height: 100vw;
  justify-content: center;
  gap: 10px;
}
.login-page img {
    max-width: 250px;
    margin: 0 auto;
}
.login-page button {
    width: 200px;
    margin: 0 auto;
}